./data/widerface/*
./widerface_evaluate/build/
data/widerface/
test.jpg
widerface_evaluate/bbox.cpython-37m-x86_64-linux-gnu.so
widerface_evaluate/box_overlaps.c
widerface_evaluate/build/
widerface_evaluate/widerface_txt/
*__*__
weights_vgg/*
